<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1 style="text-align: center">Topics</h1>
    <button><a href="{{url_for('accueil')}}">Accueil</a></button>
    <button><a href="{{url_for('topicsId')}}">topicsId</a></button>
  </body>
</html>
